.toggle {
  display: flex;
  align-items: center;
  padding-left: 42px;
  @media screen and (min-width: $tab) {
    margin-left: 115px;
    padding-left: 0;
  }
  @media screen and (min-width: $desk) {
    padding: 0;
    margin-left: 115px;
    // margin: 0;
  }
}

.hidden {
  display: none;
  @media screen and (min-width: $desk) {
    display: flex;
  }
}

.theme-switch__input {
  opacity: 0;
  width: 0;
  height: 0;
} 

.theme-switch__label {
  position: relative;
  border: 0.604701px solid #fd5103;
  border-radius: 20px;
  width: 40px;
  height: 16px;
  background-color: #ffffff;
  @media screen and (min-width: $tab) {
    height: 20px;
  }

  &::before,
  &::after {
    position: absolute;
    transform: translate3d(0, -50%, 0);
    top: 50%;
    font-family: $fPoppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    @media screen and (min-width: $tab) {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.33;
    }
  }

  &::before {
    content: 'Light';
    right: 100%;
    margin-right: 8px;
    color: #fd5103;
    @media screen and (min-width: $tab) {
      margin-right: 12px;
    }
  }

  &::after {
    content: 'Dark';
    left: 100%;
    margin-left: 8px;
    color: #5f6775;
    @media screen and (min-width: $tab) {
      margin-left: 12px;
    }
  }
}

.switch::after {
  position: absolute;
  left: 1px;
  width: 12px;
  height: 12px;
  top: 1px;
  content: '';
  border-radius: 50%;
  background-color: #fd5103;
  transition: transform 200ms, background-color 200ms;
  @media screen and (min-width: $tab) {
    width: 16px;
    height: 16px;
  }
  @media screen and (min-width: $desk) {
    top: 1%;
  }
}

.theme-switch__input:checked ~ .theme-switch__label {
  background-color: #fd5103;

  &::before {
    color: #ffffff;
  }

  &::after {
    color: #fd5103;
  }

  .switch::after {
    transform: translate3d(20px, 0, 0);
    background-color: #ffffff;
  }
}

.change-toggle-color {
  background-color: #202025;
  color: $bgColor;
}