.theme-desk {
//   // position: relative;
//   display: none;
//   padding-top: 10px;
//   font-size: 18px;
//   line-height: 24px; 

//   &.visible {
//     display: block;
//     transform: none;

//     @media screen and (min-width: $mob2) {
//       font-size: 18px;
//       line-height: 24px;
//     }
//   }

//   @media screen and (min-width: 769px) {
//     display: block;
//     // font-size: 18px;
//     // line-height: 24px;
//     // position: absolute;
//     // top: 0px;
//     // right: 32px;
//   }

//   @media screen and (min-width: 769px) {
//     right: 32px;
//   }
// }

// .theme-desk.visible {
//   @media screen and (min-width: 768px) {
//     @media screen and (max-width: $tab) {
//       position: absolute;
//       top: 25px;
//       left: 289px;
//     }
//   }
}

.checkbox {
  width: 150px;
  height: 24px;
  display: flex;
  gap: 13px;
  align-items: center;
}

.checkbox-box {
  position: relative;
  width: 40px;
  height: 16px;
  background-color: $textColorWhite;
  border: 1px solid $accentColor;
  transition: 100ms;
  border-radius: 20px;

  @media screen and (min-width: $tab) {
    height: 20px;
  }
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked ~ .checkbox-box {
  border: 1px solid $bgColor;
  background-color: $accentColor;
}

.checkbox-input:checked ~ .checkbox-box::before {
  background-color: $bgColor;
  left: 25px;
  @media screen and (min-width: $tab) {
    left: 21px;
  }
}

.checkbox-input:checked ~ .darkk {
  color: $accentColor;
  &:hover,
  &:active {
    color: $bgColor;
  }
}

.checkbox-box::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: $accentColor;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  transition: 100ms;

  @media screen and (min-width: $tab) {
    width: 16px;
    height: 16px;
  }
}

small.darkk {
  font-size: 18px;
  line-height: 24px;
}
.ligth {
  color: $accentColor;
  font-style: normal;

  body.dark & {
    color: $bgColor;
  }
}

.darkk {
  font-style: normal;
}

.dark {
  color: $bgColor;
  background-color: $textColorBlack;
}

.no-scroll {
  overflow: hidden;
}

.favorite-cocktails__title {
  body.dark & {
    color: $bgColor;
  }
}

.no__favorite-cocktails {
  body.dark & {
    color: $bgColor;
  }
}

.cocktails__name {
  body.dark & {
    color: $bgColor;
  }
}

.backdrop {
  body.dark & {
    background-color: #bab1b899;
  }
}

.modal {
  body.dark & {
    color: $bgColor;
    background-color: $textColorBlack;
  }
}

.modal__title {
  body.dark & {
    color: $bgColor;
  }
}

.ingredients__title {
  body.dark & {
    color: $bgColor;
  }
}

.ingredients__subtitle {
  body.dark & {
    color: #bdbdbd;
  }
}

.modal-ingredient {
  body.dark & {
    color: $bgColor;
    background-color: $textColorBlack;
  }
}
.ingredient__text--accent {
   body.dark & {
  color: $textColorWhite;
   }
}
.modal-container {
  body.dark & {
     background-color: $textColorBlack;  
  }
}
.modal-close__icon {
  body.dark & {
    fill: $bgColor;
  }
}
body.dark modal-button__icon {
    fill: #fcfcfc;
}
