.favorite-ingridient__title {
    margin-bottom: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.91;
    text-align: center;
    color: $textColorBlack;
}

.drink__title {
    margin-bottom: 20px;
    font-family: $fRoboto;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    color: $textColorBlack;
    @media screen and (min-width: $tab) {
        margin-bottom: 28px;
    }
}

.drink {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #000000;
    @media screen and (min-width: $tab) {
        margin-bottom: 28px;
    }
}

p.no__favorite-ingridient {
    font-weight: 400;
    font-size: 20px;
    line-height: 3;
    text-align: center;
    color: $textColorBlack;
    visibility: visible;
}

p.no__favorite-ingridient.is-hidden {
    visibility: hidden;
}

.favorite-ingridient__list {
    @media screen and (min-width: $tab) {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }
} 

.favorite-ingridient__item {
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    border: 1px solid $accentColor;
    border-radius: 4px;
    @media screen and (min-width: $mob2) {
        width: 280px;
        height: 177px;
    }
    @media screen and (min-width: $tab) {
        margin: 0;
        width: 336px;
        height: 205px;
        width: calc((100% - 32px)/ 2);
    }
    @media screen and (min-width: $desk) {
        width: 395px;
        height: 221px;
        width: calc((100% - 2 * 32px)/ 3);
    }
}

.favorite-ingridient__item:not(:last-child) {
    @media screen and (max-width: $tab) {
       margin-bottom: 20px;     
    } 
}