.favorite-cocktails {
    padding-top: 60px;
    padding-bottom: 226px;

    @media screen and (min-width: $tab) {
        padding-bottom: 264px;
    }

    @media screen and (min-width: $desk) {
        padding-bottom: 484px;
    }
}
.favorite-cocktails__title {
    margin-bottom: 60px;
    margin-top: 60px;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.91;
    text-align: center;
    color: $textColorBlack;
    @media screen and (min-width: $tab) {
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 32px;
            line-height: 1.19;
        }
    
        @media screen and (min-width: $desk) {
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 48px;
            line-height: 1.5;
        }
}
.no__favorite-cocktails {
    font-weight: 400;
    font-size: 20px;
    line-height: 3;
    text-align: center;
    color: $textColorBlack;
    @media screen and (min-width: $tab) {
        font-size: 24px;
        line-height: 2.5;
    }
        @media screen and (min-width: $desk) {
            font-size: 32px;
            line-height: 2.25;
        }
}

.gallery {
    @media screen and (max-width: 767.97px) {
        display: block;
        margin-bottom: 20px;
    }

    @media screen and (min-width: $tab) {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }

    @media screen and (min-width: $desk) {
        flex-wrap: wrap;   
    }
}

