.burger {
  width: 32px;
  height: 32px;
  // position: absolute;
  // top: 18px;
  // right: 20px;
  padding-top: 20px;
  display: none;
  border: none;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.burger-menu__icon {
  transition: all $timingFunction;
  fill: $textColorBlack;

  // &:hover, &:active {
  // fill: $accentColor;
  // }

  body.dark & {
    fill: $bgColor;
  }
}

.menu__open-icon {
  opacity: 1;

  &.visible {
    opacity: 0;
    transform: none;
  }
}

.menu__close-icon {
  opacity: 0;

  &.visible {
    opacity: 1;
    transform: none;
  }
}