.pagination-box {
    display: block;
    margin-left: 50%;
    margin-right: 50%;

}

.pagination-render {
    display: flex;
    gap: 10px;
}

.pagination-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: $textColorWhite;
    background-color: $buttonColor;
}