@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@400;700;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "sans-serif";
  color: #202025;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fcfcfc;
  padding-top: 60px;
}
@media screen and (min-width: 767.98px) {
  body {
    font-size: 16px;
    line-height: 1.19;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 767.98px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 479.98px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 767.98px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1279.98px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

button,
input {
  background-color: inherit;
}

button.is-hidden {
  display: none;
}

.is-hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  overflow: hidden;
  height: 55px;
  background-color: #fcfcfc;
  padding: 20px 0;
}
body.dark .page-header {
  background: #202025;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .page-header {
    height: 65px;
  }
}
@media screen and (min-width: 1279.98px) {
  .page-header {
    overflow: visible;
    height: 60px;
  }
}
.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-right: 30px;
}
.page-header__box {
  background-color: #fcfcfc;
}
body.dark .page-header__box {
  background: #202025;
}
@media screen and (max-width: 768px) {
  .page-header__box {
    position: fixed;
    right: 0;
    top: 55px;
    z-index: 100;
    overflow-y: auto;
    padding: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.4s, transform 0.4s ease-in-out;
  }
}
@media screen and (min-width: 1279.98px) {
  .page-header__box {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 735px;
  }
}

.logo {
  background-image: url("../images/logo/Logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 999;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .logo {
    background-image: url("../images/logo/Logo.png");
  }
}
@media screen and (max-width: 768px) {
  .logo {
    width: 125px;
    height: 35px;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .logo {
    width: 156px;
    height: 43px;
  }
}
@media screen and (min-width: 1279.98px) {
  .logo {
    width: 38px;
    height: 37px;
  }
}

@media screen and (max-width: 1279.98px) {
  .visible {
    transform: none;
    opacity: 1;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .nav.visible {
    text-align: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .visibletab {
    transform: none;
    opacity: 1;
  }
}

.stop-scroll {
  overflow: hidden;
}

.input-field {
  margin-right: 172px;
  width: 288px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  /* Gray */
  color: #5f6775;
  opacity: 0.4;
  /* Grapefruit */
  border: 1px solid #fd5103;
  border-radius: 4px;
}

.search-form {
  margin-top: 20px;
  margin-bottom: 40px;
}
@media screen and (min-width: 481px) and (max-width: 1279.98px) {
  .search-form {
    opacity: 0;
  }
}
@media screen and (min-width: 1279.98px) {
  .search-form {
    margin-right: 20px;
  }
}
.search-form__input {
  width: 280px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: inherit;
  border: 1px solid #fd5103;
  border-radius: 4px;
  outline: none;
}
body.dark .search-form__input {
  color: #ffffff;
}
.search-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #5f6775;
  opacity: 0.4;
}
.search-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #5f6775;
  opacity: 0.4;
}
.search-form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #5f6775;
  opacity: 0.4;
}

@media screen and (min-width: 481px) and (max-width: 1279.98px) {
  .search-form.visible {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 55px;
    z-index: 210;
    overflow-y: auto;
    padding: 33px;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1279.98px) {
  .nav__list {
    display: flex;
  }
}
.nav__item, .nav__subitem {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
}
@media screen and (min-width: 1279.98px) {
  .nav__item:not(:last-child) {
    margin-right: 60px;
  }
}
.nav__item:hover .nav__sublist, .nav__item:focus-within .nav__sublist {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: none;
  opacity: 1;
}
@media screen and (max-width: 1279.98px) {
  .nav__item:hover .nav__sublist, .nav__item:focus-within .nav__sublist {
    width: 310px;
    height: 108px;
  }
}
@media screen and (min-width: 1279.98px) {
  .nav__item:hover .nav__sublist, .nav__item:focus-within .nav__sublist {
    width: 215px;
    height: 95px;
  }
}
.nav__link {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  font-weight: 400;
  font-size: 28px;
  line-height: 0.86;
}
@media screen and (max-width: 1279.98px) {
  .nav__link {
    width: 310px;
  }
}
@media screen and (min-width: 1279.98px) {
  .nav__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
  }
}
.nav__link:hover, .nav__link:focus {
  color: #fd5103;
}

.nav__sublist {
  outline: 1px solid #fd5103;
}
@media screen and (max-width: 1279.98px) {
  .nav__sublist {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    top: 100%;
    opacity: 0;
    overflow: hidden;
    border-radius: 4px;
    transform: translateY(-10%);
    font-weight: 400;
    font-size: 28px;
    line-height: 0.86;
  }
}
@media screen and (min-width: 1279.98px) {
  .nav__sublist {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    top: 100%;
    overflow: hidden;
    border-radius: 4px;
    opacity: 0;
    transform: translateY(-10%);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
  }
}
body.dark .nav__sublist {
  outline: 1px solid #fff;
}

.nav__sublink {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
}
.nav__sublink:hover, .nav__sublink:focus {
  color: #fff;
  background-color: #fd5103;
}
@media screen and (max-width: 1279.98px) {
  .nav__sublink {
    padding: 15px 10px;
  }
}
@media screen and (min-width: 1279.98px) {
  .nav__sublink {
    padding: 12px;
  }
}
body.light .nav__sublink:hover, body.light .nav__sublink:focus {
  color: #fff;
  background-color: #fd5103;
}
body.dark .nav__sublink:hover, body.dark .nav__sublink:focus {
  color: #000;
  background-color: #fd5103;
}

@media screen and (max-width: 1279.98px) {
  .nav__link-line {
    width: 13px;
    height: 2px;
    position: absolute;
    left: 125px;
    left: 125px;
    bottom: 45%;
  }
  .nav__link-line::before, .nav__link-line::after {
    width: 100%;
    height: 3px;
    content: "";
    position: absolute;
    left: 20%;
    border-radius: 1px;
  }
  body.light-theme .nav__link-line::before, body.light-theme .nav__link-line::after {
    background: #202025;
  }
  body.dark-theme .nav__link-line::before, body.dark-theme .nav__link-line::after {
    background: #fff;
  }
  .nav__link-line::before {
    left: -30%;
    transform: rotate(45deg);
  }
  .nav__link-line::after {
    left: 30%;
    transform: rotate(-45deg);
  }
  .nav__link:hover .nav__link-line::after, .nav__link:hover .nav__link-line::before, .nav__link:focus .nav__link-line::after, .nav__link:focus .nav__link-line::before {
    background-color: #fd5103;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.theme-desk {
  opacity: 0;
  position: absolute;
}
@media screen and (min-width: 1279.98px) {
  .theme-desk {
    opacity: 1;
    display: flex;
    font-size: 18px;
    line-height: 24px;
  }
}

.theme-desk.visible {
  opacity: 1;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .theme-desk.visible {
    padding-left: 200px;
    padding-top: 25px;
  }
}

.checkbox {
  width: 150px;
  height: 24px;
  display: flex;
  gap: 13px;
}

.checkbox-box {
  position: relative;
  width: 40px;
  height: 16px;
  background-color: #ffffff;
  border: 1px solid #fd5103;
  transition: 100ms;
  border-radius: 20px;
}
@media screen and (min-width: 767.98px) {
  .checkbox-box {
    height: 20px;
  }
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked ~ .checkbox-box {
  border: 1px solid #fcfcfc;
  background-color: #fd5103;
}

.checkbox-input:checked ~ .checkbox-box::before {
  background-color: #fcfcfc;
  left: 25px;
}
@media screen and (min-width: 767.98px) {
  .checkbox-input:checked ~ .checkbox-box::before {
    left: 21px;
  }
}

.checkbox-input:checked ~ .darkk {
  color: #fd5103;
}

.checkbox-input:checked ~ .ligth {
  color: #fcfcfc;
}

.ligth {
  color: #fd5103;
}

.checkbox-box::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #fd5103;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  transition: 100ms;
}
@media screen and (min-width: 767.98px) {
  .checkbox-box::before {
    width: 16px;
    height: 16px;
  }
}

.dark {
  color: #fcfcfc;
  background-color: #202025;
}

.text {
  color: #fcfcfc;
}

.no-scroll {
  overflow: hidden;
}

.burger {
  width: 32px;
  height: 32px;
  position: relative;
  display: none;
  padding: 5px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }
}

.burger-menu__icon {
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 300ms;
  fill: #202025;
}
.burger-menu__icon.whiteicon {
  fill: #fcfcfc;
}

.menu__open-icon {
  opacity: 1;
}
.menu__open-icon.visible {
  opacity: 0;
  transform: none;
}

.menu__close-icon {
  opacity: 0;
}
.menu__close-icon.visible {
  opacity: 1;
  transform: none;
}

.burger-active .burger__line {
  opacity: 0;
}
.burger-active::before {
  top: 50%;
  transform: rotate(45deg);
}
.burger-active::after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
}

.hero__container {
  position: relative;
}

.hero__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.91;
  color: #fd5103;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 336px;
    font-size: 26px;
    line-height: 1.62;
    padding-top: 20px;
    margin-bottom: 40;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    max-width: 688px;
    font-size: 52px;
    line-height: 1.54;
    padding-top: 0;
  }
}

.hero__photo {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero__photo {
    position: absolute;
    top: 0;
    right: 19px;
    width: 336px;
    height: 294px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__photo {
    width: 501px;
    height: 439px;
  }
}

.hero__text {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.02em;
  opacity: 0.8;
  margin-bottom: 20px;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    margin-top: 38px;
    margin-bottom: 36px;
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    font-size: 18px;
    line-height: 1.56;
  }
}

@media screen and (max-width: 767.98px) {
  .hero__navigation {
    border: 1px solid #fd5103;
    border-radius: 4px;
    width: 93px;
    height: 84px;
    overflow: scroll;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .hero__navigation {
    display: flex;
    flex-wrap: wrap;
    width: 324px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__navigation {
    width: 520px;
  }
}

.hero__button {
  width: 36px;
  height: 15px;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  color: #5f6775;
  border: transparent;
}
@media screen and (min-width: 768px) {
  .hero__button {
    width: 24px;
    height: 25px;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
  }
}
@media screen and (min-width: 1280px) {
  .hero__button {
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 36px;
  }
}

@media screen and (min-width: 768px) {
  .hero__item:nth-child(27) {
    margin-left: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__item:nth-child(27) {
    margin-left: 39px;
  }
}

.hero__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 5px 10px;
  margin: 0 auto;
  gap: 14px;
  border: 1px solid #fd5103;
  border-radius: 4px;
  width: 93px;
  height: 34px;
}
@media screen and (min-width: 768px) {
  .hero__select {
    display: none;
  }
}

.hero__select-letter {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.35;
  color: #fd5103;
}

.hero__icon {
  fill: #fd5103;
}

.cocktails-title {
  font-family: "Poppins";
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.91;
  text-align: center;
}
@media screen and (min-width: 767.98px) {
  .cocktails-title {
    margin-bottom: 56px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 32px;
    line-height: 1.31;
  }
}
@media screen and (min-width: 1279.98px) {
  .cocktails-title {
    margin-bottom: 60px;
    font-family: "Poppins";
    font-size: 48px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 767.97px) {
  .cocktails-list {
    display: block;
    margin-bottom: 20px;
  }
  .cocktails-list .cocktails__item:nth-child(n+4) {
    display: none;
  }
}
@media screen and (min-width: 767.98px) {
  .cocktails-list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }
  .cocktails-list .cocktails__item:nth-child(n+7) {
    display: none;
  }
}
@media screen and (min-width: 1279.98px) {
  .cocktails-list {
    flex-wrap: wrap;
  }
  .cocktails-list .cocktails__item:nth-child(n+7) {
    display: flex;
  }
}

.cocktails__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #fd5103;
  border-radius: 4px;
}
@media screen and (min-width: 767.98px) {
  .cocktails__item {
    width: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1279.98px) {
  .cocktails__item {
    width: calc((100% - 64px) / 3);
  }
}

@media screen and (max-width: 767.98px) {
  .cocktails__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.cocktails__name {
  padding-top: 48px;
  padding-bottom: 16px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  color: #202025;
}
@media screen and (min-width: 767.98px) {
  .cocktails__name {
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 28px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1279.98px) {
  .cocktails__name {
    padding-bottom: 27px;
    font-size: 32px;
    line-height: 1.19;
  }
}

.button-list {
  display: flex;
  gap: 17px;
  justify-content: center;
  padding-bottom: 24px;
}
@media screen and (min-width: 767.98px) {
  .button-list {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1279.98px) {
  .button-list {
    padding-bottom: 28px;
  }
}

.button-add {
  display: flex;
  gap: 8px;
  align-items: center;
  min-width: 108px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 4px;
  border: 1px solid #fd5103;
  border-radius: 4px;
  background: transparent;
  font-family: "Roboto";
  line-height: 1.71;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.02em;
  color: #fe7031;
  cursor: pointer;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-add:hover, .button-add:focus {
  background-color: #f5f5f5;
}
.button-add:active {
  background-color: transparent;
}
@media screen and (min-width: 767.98px) {
  .button-add {
    gap: 0;
    min-width: 123px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1279.98px) {
  .button-add {
    min-width: 141px;
  }
}

.button-more {
  min-width: 108px;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #fe7031;
  font-family: "Roboto";
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  cursor: pointer;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-more:hover, .button-more:focus {
  background-color: #f5f5f5;
  color: #fd5103;
}
.button-more:active {
  background-color: #fd5103;
  color: #ffffff;
}
@media screen and (min-width: 767.98px) {
  .button-more {
    min-width: 160px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1279.98px) {
  .button-more {
    min-width: 182px;
  }
}

.button-add::after {
  display: inline-block;
  content: "";
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 8px;
  background-image: url(../images/cocktails/heart.svg);
}
@media screen and (min-width: 767.98px) {
  .button-add::after {
    width: 24px;
    height: 24px;
    margin-left: 6px;
  }
}

.button-remove {
  display: flex;
  gap: 8px;
  align-items: center;
  min-width: 108px;
  padding-top: 6px;
  padding-bottom: 7px;
  border-radius: 4px;
  border: 1px solid #fd5103;
  border-radius: 4px;
  background: transparent;
  font-family: "Roboto";
  line-height: 1.71;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.02em;
  color: #fe7031;
  cursor: pointer;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-remove:hover, .button-remove:focus {
  background-color: #f5f5f5;
}
.button-remove:active {
  background-color: transparent;
}
@media screen and (min-width: 767.98px) {
  .button-remove {
    gap: 0;
    min-width: 123px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1279.98px) {
  .button-remove {
    min-width: 141px;
  }
}

.button-remove::after {
  display: inline-block;
  content: "";
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 8px;
  background-image: url(../images/cocktails/heartfiil.svg);
}
@media screen and (min-width: 767.98px) {
  .button-remove::after {
    width: 24px;
    height: 24px;
    margin-left: 6px;
  }
}

.is-none {
  display: none;
}

.cocktails-title--refusal {
  margin: auto;
  max-width: 280px;
  font-family: "Poppins";
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.91;
  text-align: center;
}
@media screen and (min-width: 767.98px) {
  .cocktails-title--refusal {
    max-width: 331px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 32px;
    line-height: 1.31;
    text-align: center;
  }
}
@media screen and (min-width: 1279.98px) {
  .cocktails-title--refusal {
    max-width: 493px;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 48px;
    line-height: 1.5;
    text-align: center;
  }
}

.cocktails-frame {
  height: 308px;
  background-image: url(../images/cocktails/photo-mob.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 280px 308px;
}
@media screen and (min-width: 767.98px) {
  .cocktails-frame {
    background-image: url(../images/cocktails/frame-tablet.png);
    height: 380px;
    background-size: 345px 380px;
  }
}

@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (--weblit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .cocktails-frame {
    background-image: url(../images/cocktails/photo@2x-mob.png);
  }
}
@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 3), screen and (max-width: 767.98px) and (o-min-device-pixel-ratio: 3/1), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 3), screen and (max-width: 767.98px) and (min-resolution: 288dpi), screen and (max-width: 767.98px) and (min-resolution: 3dppx) {
  .cocktails-frame {
    background-image: url(../images/cocktails/photo@3x-mob.png);
  }
}
@media screen and (min-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (--weblit-min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (min-resolution: 192dpi), screen and (min-width: 767.98px) and (min-resolution: 2dppx) {
  .cocktails-frame {
    background-image: url(../images/cocktails/frame@2x-tablet.png);
  }
}
@media screen and (min-width: 767.98px) and (min-device-pixel-ratio: 3), screen and (min-width: 767.98px) and (o-min-device-pixel-ratio: 3/1), screen and (min-width: 767.98px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 767.98px) and (min-resolution: 288dpi), screen and (min-width: 767.98px) and (min-resolution: 3dppx) {
  .cocktails-frame {
    background-image: url(../images/cocktails/frame@3x-tablet.png);
  }
}
.favorite-cocktails__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.91;
  text-align: center;
  color: #202025;
}

.no__favorite-cocktails {
  font-weight: 400;
  font-size: 20px;
  line-height: 3;
  text-align: center;
  color: #202025;
  visibility: visible;
}

.no__favorite-cocktails.is-hidden {
  visibility: hidden;
}

.favorite-ingridient__title {
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.91;
  text-align: center;
  color: #202025;
}

.drink__title {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  color: #202025;
}
@media screen and (min-width: 767.98px) {
  .drink__title {
    margin-bottom: 28px;
  }
}

.drink {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #000000;
}
@media screen and (min-width: 767.98px) {
  .drink {
    margin-bottom: 28px;
  }
}

p.no__favorite-ingridient {
  font-weight: 400;
  font-size: 20px;
  line-height: 3;
  text-align: center;
  color: #202025;
  visibility: visible;
}

p.no__favorite-ingridient.is-hidden {
  visibility: hidden;
}

@media screen and (min-width: 767.98px) {
  .favorite-ingridient__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.favorite-ingridient__item {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  border: 1px solid #fd5103;
  border-radius: 4px;
}
@media screen and (min-width: 479.98px) {
  .favorite-ingridient__item {
    width: 280px;
    height: 177px;
  }
}
@media screen and (min-width: 767.98px) {
  .favorite-ingridient__item {
    margin: 0;
    width: 336px;
    height: 205px;
    width: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1279.98px) {
  .favorite-ingridient__item {
    width: 395px;
    height: 221px;
    width: calc((100% - 64px) / 3);
  }
}

@media screen and (max-width: 767.98px) {
  .favorite-ingridient__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.footer {
  display: block;
  background-color: #fd5103;
  height: 110px;
  width: 100%;
  padding-top: 50px;
}/*# sourceMappingURL=index.css.map */