@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@400;700;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "sans-serif";
  color: #202025;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fcfcfc;
}
@media screen and (min-width: 767.98px) {
  body {
    font-size: 16px;
    line-height: 1.19;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 767.98px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 479.98px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 767.98px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1279.98px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

button,
input {
  background-color: inherit;
}

button.is-hidden {
  display: none;
}

.is-hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a:visited {
  color: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

.toggle {
  display: flex;
  align-items: center;
  padding-left: 42px;
}
@media screen and (min-width: 767.98px) {
  .toggle {
    margin-left: 115px;
    padding-left: 0;
  }
}
@media screen and (min-width: 1279.98px) {
  .toggle {
    padding: 0;
    margin-left: 115px;
  }
}

.hidden {
  display: none;
}
@media screen and (min-width: 1279.98px) {
  .hidden {
    display: flex;
  }
}

.theme-switch__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-switch__label {
  position: relative;
  border: 0.604701px solid #fd5103;
  border-radius: 20px;
  width: 40px;
  height: 16px;
  background-color: #ffffff;
}
@media screen and (min-width: 767.98px) {
  .theme-switch__label {
    height: 20px;
  }
}
.theme-switch__label::before, .theme-switch__label::after {
  position: absolute;
  transform: translate3d(0, -50%, 0);
  top: 50%;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
@media screen and (min-width: 767.98px) {
  .theme-switch__label::before, .theme-switch__label::after {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
  }
}
.theme-switch__label::before {
  content: "Light";
  right: 100%;
  margin-right: 8px;
  color: #fd5103;
}
@media screen and (min-width: 767.98px) {
  .theme-switch__label::before {
    margin-right: 12px;
  }
}
.theme-switch__label::after {
  content: "Dark";
  left: 100%;
  margin-left: 8px;
  color: #5f6775;
}
@media screen and (min-width: 767.98px) {
  .theme-switch__label::after {
    margin-left: 12px;
  }
}

.switch::after {
  position: absolute;
  left: 1px;
  width: 12px;
  height: 12px;
  top: 1px;
  content: "";
  border-radius: 50%;
  background-color: #fd5103;
  transition: transform 200ms, background-color 200ms;
}
@media screen and (min-width: 767.98px) {
  .switch::after {
    width: 16px;
    height: 16px;
  }
}
@media screen and (min-width: 1279.98px) {
  .switch::after {
    top: 1%;
  }
}

.theme-switch__input:checked ~ .theme-switch__label {
  background-color: #fd5103;
}
.theme-switch__input:checked ~ .theme-switch__label::before {
  color: #ffffff;
}
.theme-switch__input:checked ~ .theme-switch__label::after {
  color: #fd5103;
}
.theme-switch__input:checked ~ .theme-switch__label .switch::after {
  transform: translate3d(20px, 0, 0);
  background-color: #ffffff;
}

.change-toggle-color {
  background-color: #202025;
  color: #fcfcfc;
}

.footer {
  display: block;
  background-color: #fd5103;
  height: 110px;
  width: 100%;
  padding-top: 50px;
}/*# sourceMappingURL=index.css.map */