<section class="coctails section">
    <div class="container">
        <h2 class="cocktails-title">Cocktails</h2>
        <ul class="cocktails-list">
            <li class="cocktails__item">
                <img src="./images/cocktails/MountainBrambletab.jpg" alt="Сocktail photo">
                <h3 class="cocktails__name">Negroni</h3>
                <ul class="button-list">
                    <li class="button__item">
                        <button class="button-more" type="submit">Learn more
                        </button>
                    </li>
                    <li class="button__item">
                        <button class="button-add" type="submit">Add to
                        </button>
                    </li>
                </ul>
            </li>
            <li class="cocktails__item">
                <img src="./images/cocktails/Apellotab.jpg" alt="">
                <h3 class="cocktails__name">Negroni</h3>
                <ul class="button-list">
                    <li class="button__item">
                        <button class="button-more" type="submit">Learn more
                        </button>
                    </li>
                    <li class="button__item">
                        <button class="button-add" type="submit">Add to
                        </button>
                    </li>
                </ul>
            </li>
            <li class="cocktails__item">
                <img src="./images/cocktails/Acidtab.jpg" alt="">
                <h3 class="cocktails__name">Negroni</h3>
                <ul class="button-list">
                    <li class="button__item">
                        <button class="button-more" type="submit">Learn more</button>
                    </li>
                    <li class="button__item">
                        <button class="button-add" type="submit">Add to
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>