<section class="favorite-ingridient">
  <h2 class="favorite-ingridient__title">Favorite ingredients</h2>
  <!-- <p class="no__favorite-ingridient is-hidden">
    You haven't added any <br />
    favorite ingridients yet
  </p> -->
  <ul class="favorite-ingridient__list">
    <!-- <li class="favorite-ingridient__item">
      <h3 class="drink__ingridient">Campari</h3>
      <p class="drink__type">Liqueur</p>
      <ul class="button-list">
        <li class="button__item">
          <button class="button-more" type="submit">Learn more</button>
        </li>
        <li class="button__item">
          <button class="button-add" type="submit">Add to</button>
        </li>
      </ul>
    </li>
    <li class="favorite-ingridient__item">
      <h3 class="drink__ingridient">Campari</h3>
      <p class="drink__type">Liqueur</p>
      <ul class="button-list">
        <li class="button__item">
          <button class="button-more" type="submit">Learn more</button>
        </li>
        <li class="button__item">
          <button class="button-add" type="submit">Add to</button>
        </li>
      </ul>
    </li>
    <li class="favorite-ingridient__item">
      <h3 class="drink__ingridient">Campari</h3>
      <p class="drink__type">Liqueur</p>
      <ul class="button-list">
        <li class="button__item">
          <button class="button-more" type="submit">Learn more</button>
        </li>
        <li class="button__item">
          <button class="button-add" type="submit">Add to</button>
        </li>
      </ul>
    </li>
    <li class="favorite-ingridient__item">
      <h3 class="drink__ingridient">Campari</h3>
      <p class="drink__type">Liqueur</p>
      <ul class="button-list">
        <li class="button__item">
          <button class="button-more" type="submit">Learn more</button>
        </li>
        <li class="button__item">
          <button class="button-add" type="submit">Add to</button>
        </li>
      </ul>
    </li> -->
  </ul>
</section>
