<section class="favorite-ingridient">
  <h2>Favorite ingredients</h2>
  <p class="no__favorite">You haven't added any favorite ingridients yet</p>
  <ul class="favorite-ingridient__list">
    <li class="favorite-ingridient__item">
      <h3 class="drink__title">Campari</h3>
      <p class="drink">Liqueur</p>
      <div>
        <button>Learn more</button>
        <button>Add to<svg width="17px" height="15px"></svg></button>
      </div>
    </li>
    <li class="favorite-ingridient__item">
      <h3 class="drink__title">Campari</h3>
      <p class="drink">Liqueur</p>
      <div>
        <button>Learn more</button>
        <button>Add to<svg width="17px" height="15px"></svg></button>
      </div>
    </li>
    <li class="favorite-ingridient__item">
      <h3 class="drink__title">Campari</h3>
      <p class="drink">Liqueur</p>
      <div>
        <button>Learn more</button>
        <button>Add to<svg width="17px" height="15px"></svg></button>
      </div>
    </li>
    <li class="favorite-ingridient__item">
      <h3 class="drink__title">Campari</h3>
      <p class="drink">Liqueur</p>
      <div>
        <button>Learn more</button>
        <button>Add to<svg width="17px" height="15px"></svg></button>
      </div>
    </li>
  </ul>
</section>
