<section class="favorite-ingridient">
  <h2 class="favorite-ingridient__title">Favorite ingredients</h2>
  <ul class="favorite-ingridient__list"></ul>
  <div class="backdrop">
    <div class="modal">
      <div class="modal-header">
        <span class="close">×</span>
        <h2>Заголовок модального окна</h2>
      </div>
      <div class="modal-body">
        <p>Здесь может быть форма</p>
        <p>...</p>
      </div>
      <div class="modal-footer">
        <h3>Подвал модального окна</h3>
      </div>
    </div>
  </div>
</section>
