<header class="header" id="header">
  <div class="header__container container">
    <nav class="navigation">
      <div class="navigation__cocktail">
        <a class="navigation__cocktail-link" href="">COCKTAILS</a>
      </div>
      <ul class="navigation__list">
        <li class="navigation__list-item">
          <a class="navigation__item-link" href="">Home</a>
        </li>
        <li class="navigation__list-item">
          <a class="navigation__item-link" href="">Favorite</a>
        </li>
      </ul>
    </nav>
    <input class="input-field" type="text" name="input" placeholder="Search" />
    <!-- <div class="toggle-teme"></div> -->
  </div>
</header>

<!-- <ul class="nav__sublist">
        <li class="nav__subitem">
          <a class="nav__sublink" href="./favorite-cocktails.html"
            >Favorite cocktails</a
          >
        </li>
        <li class="nav__subitem">
          <a class="nav__sublink" href="./favorite-ingridient.html"
            >Favorite ingredients</a
          >
        </li>
      </ul> -->
