<header class="header page-header">
  <div class="container page-header__container">
    <a class="logo" href="./index.html" alt="logo company"></a>
    <nav class="nav" aria-label="navigation menu" data-nav>
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="./index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#"
            >Favorite<span class="nav__link-line"></span>
          </a>
          <ul class="nav__sublist">
            <li class="nav__subitem">
              <a class="nav__sublink" href="./favorite-cocktails.html"
                >Favorite cocktails</a
              >
            </li>
            <li class="nav__subitem">
              <a class="nav__sublink" href="./favorite-ingridient.html"
                >Favorite ingredients</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="page-header__box" data-box>
      <form class="search-form visible">
        <button
          class="search-form__btn"
          type="submit"
          aria-label="search button"
        >
          <svg class="search-form__icon" width="24" height="24"></svg>
        </button>
        <input
          class="search-form__input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search ..."
          aria-label="search input field"
        />
      </form>
      <button
        class="burger"
        data-burger
        aria-label="menu button"
        aria-expanded="false"
      >
        <svg class="burger-menu__icon" width="32" height="32">
          <use
            class="menu__open-icon"
            href="./images/icons.svg#icon-menu"
          ></use>
          <use
            class="menu__close-icon"
            href="./images/icons.svg#icon-close"
          ></use>
        </svg>
      </button>
      <div class="theme-desk">
        <label class="checkbox">
          <input class="checkbox-input" name="theme" type="checkbox" />

          <p class="ligth">Light</p>
          <div class="checkbox-box"></div>
          <p class="darkk">Dark</p>
        </label>
      </div>
    </div>
  </div>
</header>
