<section class="hero section">
    <div class="hero__container container">
            <h1 class="hero__title">A party without cocktails is not like a party</h1>
            <picture class="hero__image">
                <source srcset="./images/desk-hero.png 1x, ./images/desk-hero@2x.png 2x, ./images/desk-hero@3x.png 3x"
                    type="image/png" media="(min-width: 1280px)" />
                <source
                    srcset="./images/tablet-hero.png 1x, ./images/tablet-hero@2x.png 2x, ./images/tablet-hero@3x.png 3x"
                    type="image/png" media="(min-width: 768px)" />
                <source
                    srcset="./images/mobile-hero.png 1x, ./images/mobile-hero@2x.png 2x, ./images/mobile-hero@3x.png 3x"
                    type="image/png" media="(min-width: 320px)" />
                <img class="hero__photo" src="./images/mobile-hero.png" alt="coctail" width="280">
            </picture>
            <p class="hero__text">Search your favorite cocktail by ABC</p>
            <div class="hero__select select-hero">
                <span class="hero__select-letter">A</span>
                <svg class="hero__icon" width="24" height="24">
                    <use href="./images/hero-select.svg#icon-hero-select"></use>
                </svg>
            </div>
            <ul class="hero__navigation is-hidden li">
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">A</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">B</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">C</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">D</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">E</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">F</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">G</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">H</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">I</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">J</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">K</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">L</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">M</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">N</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">O</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">P</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">Q</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">R</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">S</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">T</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">U</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">V</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">W</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">X</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">Y</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">Z</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">1</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">2</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">3</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">4</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">5</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">6</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">7</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">8</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">9</button>
                    </a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">
                        <button type="button" class="hero__button" aria-label="Search coctail">0</button>
                    </a>
                </li>
            </ul>
    </div>
</section>