<section class="hero section">
    <div class="hero__container container">
        <h1 class="hero__title">A party without cocktails is not like a party</h1>
        <picture class="hero__image">
            <source srcset="./images/desk-hero.png 1x, ./images/desk-hero@2x.png 2x, ./images/desk-hero@3x.png 3x"
                type="image/png" media="(min-width: 1280px)" />
            <source srcset="./images/tablet-hero.png 1x, ./images/tablet-hero@2x.png 2x, ./images/tablet-hero@3x.png 3x"
                type="image/png" media="(min-width: 768px)" />
            <source srcset="./images/mobile-hero.png 1x, ./images/mobile-hero@2x.png 2x, ./images/mobile-hero@3x.png 3x"
                type="image/png" media="(min-width: 320px)" />
            <img class="hero__photo" src="./images/mobile-hero.png" alt="coctail" width="280">
        </picture>
        <p class="hero__text">Search your favorite cocktail by ABC</p>
        <div class="hero__select">
            <span class="hero__select-letter">A</span>
            <svg class="hero__icon" width="24" height="24">
                <use href="./images/hero-select.svg#icon-hero-select"></use>
            </svg>
        </div>
        <ul class="hero__navigation is-hidden li">
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">A</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">B</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">C</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">D</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">E</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">F</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">G</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">H</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">I</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">J</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">K</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">L</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">M</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">N</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">O</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">P</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">Q</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">R</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">S</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">T</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">U</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">V</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">W</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">X</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">Y</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">Z</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">1</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">2</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">3</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">4</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">5</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">6</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">7</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">8</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">9</button>
            </li>
            <li class="hero__item">
                <button type="button" class="hero__button" aria-label="Search coctail">0</button>
            </li>
        </ul>
    </div>
</section>