<div class="backdrop">
  <div class="modal">
    <!-- <button class="modal-button__close" type="button">
            <svg class="modal-button__icon" width="32" height="32">
                <use href="#"></use>
            </svg>
        </button>
        <div class="cocktails-info">
            <img class="cocktails-info" src="#" alt="#" width="320" height="320">
            <h2 class="cocktails-info__title">Negroni</h2>
            <div class="ingredients">
                <h3 class="ingredients__title">Ingredients</h3>
                <p class="ingredients__text">dfsgsgsgg</p>
                <ul class="ingredients__list">
                    <li class="ingredients__item"><a href="" class="ingredients__link">zsfzffff</a></li>
                </ul>
            </div>
        </div>
        <div class="instraction">
            <h3 class="instraction__title">sfsfsfs</h3>
            <p class="instraction__text">sfsfsfs</p>
        </div>
        <button class="modal-button__favorite" type="button"></button> -->
  </div>
</div>
